/* This is my own CSS for My mini Project */

.header {
	position: flex;
	padding: 10px 0px 10px 10px;
	background-color: RGB(223, 225, 255);
	height: 90px;
	width: 100%;
}

.body {
	width: auto;
	height: 100%;
}

/* Wallet Connect button => nav */
.nav {
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}

/* Connect, SignMessage button */
.button {
	height: 40px;
	padding: 0.5rem 0.5rem;
	font-weight: 700;
	text-align: center;
	border: none;
	border-radius: 10px;
	display: inline-block;
	width: auto;
	cursor: pointer;
	background-color: RGB(215, 255, 255);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Introduction Category */
.intro {
	text-align: center;
	width: auto;
	justify-content: center;
}

.intro_sub {
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
}

/* News Category */
.news {
	width: auto;
	display: flex;
	padding: 20px 20px 20px 30px;
	grid-gap: 6rem;
}

a {
	text-decoration-line: none;
}

.report_title {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	font-weight: 600;
}

/* Wallet Status Category */
.status {
	width: auto;
	display: block;
	padding: 20px 20px 20px 20px;
}

.status-title {
	font-size: 24px;
	font-weight: 700;
	color: RGB(89, 137, 255);
	padding: 5px 5px 5px 5px;
}

.status-body {
	padding: 10px 0px 0px 10px;
	margin-top: 10px;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
}

/* Footer Category */
.footer {
	position: fixed;
	display: block;
	height: 100px;
	width: 100%;
	background-color: RGB(223, 225, 255);
}

.github {
	float: right;
	padding-right: 20px;
	text-decoration-line: none;
	font-weight: 650;
}